In [ ]:
import pandas as pd
import numpy as np
import os
targetdir = os.path.join(os.path.dirname(os.path.abspath(__file__)), "data")
df_StudentInfo = pd.read_csv(os.path.join())
df_behaviorCharacteristics = pd.read_csv("Z:\\HDD1\\통분 팀플\\csv 데이터\\행동특성.csv")
df_detailedCharacteristics = pd.read_csv("Z:\\HDD1\\통분 팀플\\csv 데이터\\세부능력 종합 특기사항.csv")
df_creativeActivities = pd.read_csv("Z:\\HDD1\\통분 팀플\\csv 데이터\\창의적체험활동.csv")
df_1_1_grade = pd.read_csv("Z:\\HDD1\\통분 팀플\\csv 데이터\\1학년 1학기 성적.csv")
df_1_2_grade = pd.read_csv("Z:\\HDD1\\통분 팀플\\csv 데이터\\1학년 2학기 성적.csv")
df_2_1_grade = pd.read_csv("Z:\\HDD1\\통분 팀플\\csv 데이터\\2학년 1학기 성적.csv")
df_2_2_grade = pd.read_csv("Z:\\HDD1\\통분 팀플\\csv 데이터\\2학년 2학기 성적.csv")
df_3_1_grade = pd.read_csv("Z:\\HDD1\\통분 팀플\\csv 데이터\\3학년 1학기 성적.csv")
df_3_2_grade = pd.read_csv("Z:\\HDD1\\통분 팀플\\csv 데이터\\3학년 2학기 성적.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Z:\\HDD1\\통분 팀플\\csv 데이터\\학생정보.csv'

In [23]:
#1학년 국어 성적 모음 (데이터프레임, 배열)
kor_1st_grade = pd.concat( [ df_1_1_grade.loc[df_1_1_grade['subject'] == '국어'] , df_1_2_grade.loc[df_1_2_grade['subject'] == '국어'] ] )
kor_1st_grade_array = np.array(kor_1st_grade['rank_grade'])

#1힉년 영어 성적 모음
Eng_1st_grade = pd.concat( [ df_1_1_grade.loc[df_1_1_grade['subject'] == '영어'] , df_1_2_grade.loc[df_1_2_grade['subject'] == '영어'] ] )
Eng_1st_grade_array = np.array(Eng_1st_grade['rank_grade'])

#1학년 탐구 성적 모음
sci_subjects = ['통합사회', '통합과학', '물리학 I', '지구과학 I', '생명과학 I', '화학 I']

Science_1st_grade = pd.concat([
    df_1_1_grade.loc[df_1_1_grade['subject'].isin(sci_subjects)],
    df_1_2_grade.loc[df_1_2_grade['subject'].isin(sci_subjects)]
])

Sci_1st_grade_array = np.array(Science_1st_grade['rank_grade'])

#1학년 역사 성적 모음
history_1st_grade = pd.concat( [ df_1_1_grade.loc[df_1_1_grade['subject'] == '한국사'] , df_1_2_grade.loc[df_1_2_grade['subject'] == '한국사'] ] )
history_1st_grade_array = np.array(history_1st_grade['rank_grade'])

#1학년 나머지 성적들 모음
subjects = ['통합사회', '통합과학', '물리학 I', '지구과학 I', '생명과학 I', '화학 I', '국어', '영어', '한국사']
others_1st_grade = pd.concat([
    df_1_1_grade.loc[~df_1_1_grade['subject'].isin(subjects)],
    df_1_2_grade.loc[~df_1_2_grade['subject'].isin(subjects)]
])
others_1st_grade_array = np.array(others_1st_grade['rank_grade'])

In [ ]:
#2학년 국어 성적 모음
kor_2nd_grade = pd.concat( [ df_2_1_grade.loc[df_2_1_grade['subject'] == '국어'] , df_2_2_grade.loc[df_2_2_grade['subject'] == '국어'] ] )
kor_2nd_grade_array = np.array(kor_2nd_grade['rank_grade'])

#2학년 영어 성적 모음
Eng_2nd_grade = pd.concat( [ df_2_1_grade.loc[df_2_1_grade['subject'] == '영어'] , df_2_2_grade.loc[df_2_2_grade['subject'] == '영어'] ] )
Eng_2nd_grade_array = np.array(Eng_2nd_grade['rank_grade'])

#2학년 탐구 성적
sci_subjects = ['통합사회', '통합과학', '물리학 I', '지구과학 I', '생명과학 I', '화학 I']

Science_2nd_grade = pd.concat([
    df_2_1_grade.loc[df_2_1_grade['subject'].isin(sci_subjects)],
    df_2_2_grade.loc[df_2_2_grade['subject'].isin(sci_subjects)]
])
Sci_2nd_grade_array = np.array(Science_2nd_grade['rank_grade'])

#2학년 역사 성적
history_2nd_grade = pd.concat( [ df_2_1_grade.loc[df_2_1_grade['subject'] == '한국사'] , df_2_2_grade.loc[df_2_2_grade['subject'] == '한국사'] ] )
history_2nd_grade_array = np.array(history_2nd_grade['rank_grade'])

#2학년 나머지 성적
subjects = ['통합사회', '통합과학', '물리학 I', '지구과학 I', '생명과학 I', '화학 I', '국어', '영어', '한국사']
others_2nd_grade = pd.concat([
    df_2_1_grade.loc[~df_2_1_grade['subject'].isin(subjects)],
    df_2_2_grade.loc[~df_2_2_grade['subject'].isin(subjects)]
])
others_2nd_grade_array = np.array(others_2nd_grade['rank_grade'])

In [13]:
kor_3rd_grade = pd.concat( [ df_3_1_grade.loc[df_3_1_grade['subject'] == '국어'] , df_3_2_grade.loc[df_3_2_grade['subject'] == '국어'] ] )
Eng_3rd_grade = pd.concat( [ df_3_1_grade.loc[df_3_1_grade['subject'] == '영어'] , df_3_2_grade.loc[df_3_2_grade['subject'] == '영어'] ] )
sci_subjects = ['통합사회', '통합과학', '물리학 I', '지구과학 I', '생명과학 I', '화학 I']

Science_3rd_grade = pd.concat([
    df_3_1_grade.loc[df_3_1_grade['subject'].isin(sci_subjects)],
    df_3_2_grade.loc[df_3_2_grade['subject'].isin(sci_subjects)]
])

history_3rd_grade = pd.concat( [ df_3_1_grade.loc[df_3_1_grade['subject'] == '한국사'] , df_3_2_grade.loc[df_1_2_grade['subject'] == '한국사'] ] )
subjects = ['통합사회', '통합과학', '물리학 I', '지구과학 I', '생명과학 I', '화학 I', '국어', '영어', '한국사']
others_3rd_grade = pd.concat([
    df_3_1_grade.loc[~df_3_1_grade['subject'].isin(subjects)],
    df_3_2_grade.loc[~df_3_2_grade['subject'].isin(subjects)]
])

In [7]:
susicut_df = pd.read_csv(os.path.join("data", "susicut.csv"))
susicut_df

        학교 교과 50% 교과 70% 학종 50% 학종 70%
0    서울대학교   1.16   1.39   1.09   1.11
1    연세대학교   1.16   1.18   1.63   1.44
2    고려대학교   1.25   1.26   2.78   3.29
3    서강대학교   1.43   1.44   1.84   3.53
4   성균관대학교   1.51   1.55   3.81   3.34
5    한양대학교   1.28   1.34   2.35   2.79
6    중앙대학교   1.57    1.6   1.75   1.94
7    경희대학교   2.22   1.92   1.56   1.72
8   외국어대학교     신설     신설     신설     신설
9    시립대학교    1.6    1.6    NaN    NaN
10   건국대학교   1.77   1.77   2.04   2.25
11   동국대학교    NaN    NaN    NaN    NaN
12   홍익대학교    NaN   1.92    NaN    NaN
13   국민대학교    2.2   2.33   2.52   2.66
14   숭실대학교    NaN   1.99    NaN   2.35
15   세종대학교    NaN    2.2    NaN   2.89
16   단국대학교   3.04    3.3   2.38   2.38
17   광운대학교    NaN    2.4    NaN   2.53
18   명지대학교    NaN   2.41    NaN   3.31

In [ ]:
susicut_df.drop(8 , inplace=True)
susicut_df

KeyError: '[8] not found in axis'